include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

include *.py
include *.yml
include *.in
include *.txt
include .bumpversion.cfg
include .coveragerc
include .editorconfig
include Makefile
include tox.ini
include *.json
include Procfile
include .env Pipfile Pipfile.lock
include .tmp/.gitignore

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .eggs .tox .tmp

recursive-include .github *.*
recursive-include requirements *.*
recursive-include src *.html *.png *.gif *js *.css *jpg *jpeg *svg *py
recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.txt
recursive-include docs Makefile
recursive-include docs *.css
recursive-exclude docs/_build *
recursive-include docs/_static *.png
recursive-include src *.py
recursive-include src *.css
recursive-include src *.html
recursive-include src *.js
recursive-include src *.csv
recursive-include src .gitignore
recursive-include src *.env
recursive-include src *.cfg
recursive-include src *.po
recursive-include src *.mo
recursive-include src *.pot
recursive-include bin * *.*
recursive-include tests *.env
recursive-include tests *.py


exclude example_project/.idea/workspace.xml
recursive-include example_project *.html
recursive-include example_project *.md
recursive-include example_project *.py
recursive-include example_project *.txt
recursive-include example_project *.env
recursive-include example_project .gitignore
recursive-exclude example_project/.eggs *.*
recursive-include example_project *.iml
recursive-include example_project *.xml
recursive-include example_project *.po
recursive-include example_project *.cfg
